{
  "presets": [
    // "@babel/preset-env"
  ],
  "plugins": [
    "babel-plugin-transform-vue-jsx",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
